name: Build and draft release

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    name: 'Build and draft release'
    runs-on: ubuntu-22.04
    container: explyt/tsa-env:v1.1.3

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: 'Add git path to trusted'
        run: |
          git config --global --add safe.directory ${GITHUB_WORKSPACE}

      - name: Set SHA output
        id: sha
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "sha_full=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: 'Assemble'
        run: ./gradlew clean assemble

      - name: 'Upload artifacts to release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
          prerelease: true
          release_name: Build for ${{ steps.sha.outputs.sha_short }}
          body: Automated draft release for commit ${{ steps.sha.outputs.sha_full }}
          file: tsa-cli/build/libs/tsa-cli.jar
